name: CI

on:
    push:
        branches: ["main"]
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  submodules: recursive
                  fetch-depth: 0
                  token: ${{ secrets.GITHUB_TOKEN }}

            - uses: mlugg/setup-zig@v2

            - name: Build
              run: zig build --summary all

            - name: Test
              run: zig build --summary all tests

            - name: Build docs
              run: zig build-lib -femit-docs=zig-out/docs src/lib/root.zig

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v4
              with:
                  path: zig-out/docs

    pages:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
